<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="assets/background.jpg" type="image/x-icon" />
    <title>hello</title>
</head>
<body>
<h4>欢迎登陆</h4>
<button onclick="$.test()">测试</button>
<script src="/assets/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function(){
//        if(sessionStorage.getItem("userId") == null || sessionStorage.getItem("userId") == ""){
//            window.location.href="/view/login.html";
//        }
        $.test = function () {
            $.ajax({
                url: "/user/test",
                type : 'post',
                dataType : 'json',
                data: {
                },
                success: function(msg) {
                    if(msg.result == "ok"){
                        alert("测试成功!");
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    var sessionstatus = XMLHttpRequest.getResponseHeader("sessionstatus");
                    if(sessionstatus == "TIMEOUT"){
                        window.location.href = XMLHttpRequest.getResponseHeader("CONTEXTPATH");
                    }
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        };
    });
</script>
</body>
</html>